[submodule ".vim/pack/default/start/CandyPaper.vim"]
	path = .vim/pack/default/start/CandyPaper.vim
	url = https://github.com/dfxyz/CandyPaper.vim
[submodule ".vim/pack/default/start/easy-motion"]
	path = .vim/pack/default/start/easy-motion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/pack/default/start/nerdtree"]
	path = .vim/pack/default/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
