[core]
	autocrlf = input

[user]
    name = DF_XYZ
    email = dfxyz1@gmail.com

[push]
    default = simple

[alias]
    br = branch
    co = checkout
    cm = commit
    amd = commit -a --amend
    lg = log --graph \
        --format='%C(cyan)%h%Creset %s %Cgreen%cr %C(yellow)(%an)%Creset'
    mg = merge --no-ff
    pf = push -f
    st = status

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
