set clipboard^=unnamed
set belloff=all

set incsearch
set hlsearch

set ideajoin

let mapleader=" "
set easymotion

sethandler <C-S> a:ide
sethandler <C-V> a:ide

nnoremap Y y$
vnoremap p "_dgP
vnoremap P "_dgP

vnoremap <C-C> y
nnoremap <C-L> :nohl<CR>
