set clipboard^=unnamed
set incsearch
set hlsearch
set visualbell

let mapleader=' '
set easymotion

vnoremap <C-C> y
sethandler <C-V> a:ide
sethandler <C-S> a:ide
nnoremap Y y$
vnoremap p "_dP
vnoremap P "_dP
